canvas{
  border: 1px solid blue;
  position: relative;
  background-image: url("./lib/assets/ocean-wave-slide.png");
  background-size: cover;
}

body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction:column;
}

h1{
  background-image: url("./lib/assets/logo.png")
}
